*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/*  header section css start*/
.header-section{
    width: 100%;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}
.header-desc{
    padding-left: 100px;
    padding-top: 250px;
    text-align: left;
 
}
.header-h3{
    color: #272727;
    font-size: 80px;
    margin-bottom: 10px;
    
}
.p-primary{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 20px;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background: #E55473;
    border: none;
 
}
.header-img{
    padding-top: 50px;
    padding-left: 200px;
  
}
/*  header section css end*/
/* main section start */
/* Hot deal section start */
.hot-deal{
    width: 1900px;
    height: 620px;
    display: flex;
    margin-top: 150PX;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
}
.hot-deal-desc{
    width: 50%;
    padding-left: 150px;
    padding-top:150px;
    text-align: center;
    padding-bottom: 100px;

}
.hot-deal-title{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;

}
.hot-deal-cation{
    margin-bottom: 20px;
}
.hot-deal-img{
    padding: 100px 200px 100px 50px;
}
/* Hot deal section end */
/* instragram section start */
.instragram-section{
    margin:150px 0;
    background: #FFF;
}
.instragram-head{
    text-align: center;
    margin-bottom: 30px;
}
.section-title{
    margin-bottom: 20px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    
}
.instragram-picture{
  display: flex;
  align-items: center;
  justify-content: center;

}
.instragram-pictures{
    margin: 15px;
}
/* instragram section end */
/* subscribe section start  */
.subcribe{
    margin:0 auto;
}
.subscribe-section{
    background-image: url("images/Rectangle\ 9.png");
    width: 1440px;
    height: 449px;
    margin-bottom: 150px;
    margin: 0 240px;

}
.subcribe-title{

    text-align: center;
    margin-bottom: 40px;
    
}
.subcribe-title > .section-title{
    margin-top: 40px;
}
.subscribe-input{
    display: flex;
    justify-content: center;
    align-items: center;

}
.s-input{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    font-size: 24px;
    margin: 0 20px;
    border: none;

}
/* subscribe section end */
/* main section end */