*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/*  header section css start*/
/* navbar start  */
nav{
    position: sticky;
    top: 0;
}
.navbar{
    background-color: #ee889e;
    display: flex;
    justify-content: space-between;
    height: 60px;
    text-align: center;
}
.logo img{
    width: 60px;
    height: 65px;
    margin-left: 20px;
}
.logo-bar{
    display: flex;
    color: #FFF;
    align-items: center;
    text-align: center;
}
.progressbar{
    margin-right: 100px;
    margin-top: 15px;
}
.progressbar a{
    text-decoration: none;
    font-size: 24px;
    color: antiquewhite;
    margin-right: 50px;
    text-align: center;
}
/* navbar end */
.header-section{
    width: 100%;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}
.header-desc{
    padding-left: 400px;
    padding-top: 250px;
    text-align: left;
 
}
.header-h3{
    color: #272727;
    font-size: 80px;
    margin-bottom: 10px;
    
}
.p-primary{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 20px;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background: #E55473;
    border: none;
 
}
.header-img{
    padding-top: 50px;
    padding-left: 200px;
  
}
/*  header section css end*/
/* main section start */
/* Hot deal section start */
.hot-deal{
    width: 1900px;
    height: 620px;
    display: flex;
    margin-top: 150PX;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    
}
.hot-deal-desc{
    width: 50%;
    padding-left: 150px;
    padding-top:150px;
    text-align: center;
    padding-bottom: 100px;

}
.hot-deal-title{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;

}
.hot-deal-title span{
    color: #E55473;
}
.hot-deal-cation{
    margin-bottom: 20px;
}
.hot-deal-img{
    padding: 100px 200px 100px 50px;
}
/* Hot deal section end */
/* feature section start */
.feature-section{
    margin:150px 0;
    background: #FFF;
}
.feature-head{
    text-align: center;
    margin-bottom: 30px;
}
.section-title{
    margin-bottom: 20px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    
}
.feature-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  margin-top: 30px;

}
.feature-pictures1 img{
    width: 310px;
    height: 428px;
    padding-left: 50px;
    padding-top: 72px;
}
.feature-pictures2 img{
    width: 370px;
    height: 370px;
    padding-left: 30px;
    padding-top: 100px;
}
.feature-pictures3 img{
    width: 314px;
    height: 471px;
    padding-left: 50px;
    padding-top: 30px;

}
.feature-pictures1{
    margin-left: 15px;
     border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 400px;
height: 500px;

}
.feature-pictures2{
    margin-left: 15px;
     border-radius: 300px 300px 0px 0px;
     background: rgba(5, 151, 160, 0.15);
    width: 400px;
height: 500px;

}
.feature-pictures3{
    margin-left: 15px;
     border-radius: 300px 300px 0px 0px;
     background: rgba(71, 125, 17, 0.15);
    width: 400px;
height: 500px;

}
/* feature section end */
/* services section start */
.service-section{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 240px;
}
.services{
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* services section end */
/* instragram section start */
.instragram-section{
    margin:150px 0;
    background: #FFF;
}
.instragram-head{
    text-align: center;
    margin-bottom: 30px;
}
.section-title{
    margin-bottom: 20px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    
}
.instragram-picture{
  display: flex;
  align-items: center;
  justify-content: center;

}
.instragram-pictures{
    margin: 15px;
}
/* instragram section end */
/* subscribe section start  */
.subcribe{
    margin:0 auto;
}
.subscribe-section{
    background-image: url("images/Rectangle\ 9.png");
    width: 1440px;
    height: 449px;
    margin-bottom: 150px;
    margin: 0 240px;

}
.subcribe-title{
    padding-top: 100px;
    text-align: center;
    margin-bottom: 40px;
    
}
.subcribe-title > .section-title{
    margin-top: 40px;
}
.subscribe-input{
    display: flex;
    justify-content: center;
    align-items: center;

}
.s-input{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    font-size: 24px;
    margin: 0 20px;
    border: none;

}
/* subscribe section end */
/* main section end */
/* footer section start */
.footer-section{
    height: 449px;
    background: #111010;
    margin-top: 150px;
    text-align: center;
    align-items: center;

}
.footer-content{
    align-items: center;
    justify-content: center;
    padding-top:128px ;
}
.footer-title{
    color: #E55473;;
}
.footer-title span{
    color: #FFF;
}
.footer{
    color: rgba(255, 255, 255, 0.90);
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}
/* footer section end */